.about-tabs {
    background-color: #ffffff;
    display: inline-block;
    margin: 12px;
}

.about-slide {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*.slick-list {*/
    /*overflow: unset;*/
/*}*/

