.history-grid .history-panel{
    color: white;
    background-color: rgba(0.11, 0.11, 0.11, 0.65);
    border: solid 1px white;
}

.history-grid span{
    color: white;
}

.history-grid .history-panel-summary > div > svg {
    display: none;
}

.history-grid .history-panel-details {
    text-align: left;
    display: flex;
    flex-direction: column;
}

.history-grid .history-icon-wrapper {
    display: flex;
    align-items: center;
}

.history-grid {
    margin: 8px 0 8px 0;
}