.skills-tile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 4px;
}

.skills-tile h5 {
    margin-right: 8px;
    width: 45%;
    text-align: right;
}

.skills-tile p {
    text-align: left;
    width: 55%;
    padding-left: 2%;
    margin-right: 16px;
}

.about-skills {
    margin-bottom: 20px;
    margin-top: 20px;
}

.skills-root div[class^="MuiCardContent"]{
    color: white;
    background-color: rgba(0, 0, 0, 0);
}

.skills-root div[class^="MuiPaper"]{
    border: solid 8px rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
}

.skills-mobile-slider div[class^="MuiCardContent"]{
    color: white;
    background-color: rgba(0.11, 0.11, 0.11, 0.65);
    border: solid 1px white;
}

.skills-mobile-slider div[class^="MuiPaper"]{
    border: solid 8px rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
}

.skills-root span[class^="MuiIconButton"]{
    color: white;
}

.skills-mobile-slider {
    display: none;
}

@media only screen and (max-width: 670px) {
    .skills-mobile-slider {
        display: unset;
        color: white;
    }

    .about-skills {
        display: none;
    }

    .skills-root {
        overflow-y: hidden;
    }
}