.value-pillars {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
}

.value-pillar {
    width: calc(33% - 24px);
    max-width: 400px;
    flex-direction: column;
    display: flex !important;
    margin: 12px;
    padding: 12px;
}

.value-pillar-icon {
    margin-bottom: 22px;
}

.value-pillar-content {
    max-width: 300px;
    align-self: center;
}

.value-pillar-title {
    font-size: 25px;
}

.about-mobile-slider {
    display: none;
}

.about-values {
    overflow-y: hidden;
}

@media only screen and (max-width: 850px) {
    .value-pillars {
        flex-direction: column;
        align-items: center;
        display: none;
    }

    .value-pillar {
        width: unset !important;
        max-width: unset;
        border: 1px white solid;
        border-radius: 4px;
        background-color: rgba(0.11, 0.11, 0.11, 0.65);
    }

    .about-mobile-slider {
        display: unset;
    }

    .about-values {
        margin-left: 12px;
        margin-right: 12px;
        border: 2px solid white;
    }
}