#home-button-group {
    width: unset;
    margin: unset;
}

.App-intro {
    font-size: large;
}

.App-ticker {
    font-size: medium;
}

.App-canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.privacy-policy-link  {
    margin-top: 32px;
}

.privacy-policy-link a {
    color: #0066ff9e;
}