.project-card-media {
    height: 256px;
    border: solid 1px white;
    border-radius: 4px;
}

.project-card {
    border: solid 1px white;
    border-radius: 4px;
    background-color: rgba(0.11, 0.11, 0.11, 0.65) !important;
    height: 100%;
}

.project-card-content {
    color: white;
}

.project-modal p, .project-modal h4 {
    text-align: left;
}

.project-modal-paper {
    border: solid 1px white;
    border-radius: 4px;
    background-color: rgba(0.11, 0.11, 0.11, 0.95) !important;
    color: white;
}

.project-image-slide {
    border: double 6px white;
    border-radius: 4px;
}

.project-modal-slider {
    margin-left: -24px;
    margin-right: -24px;
}

.project-modal-slider .slick-slide {
    padding: 16px;
}

.project-modal-slider .slick-track {
    display: flex;
    align-items: center;
}

.project-modal-buttons {
    margin: 40px 16px 16px;
}

.project-modal-buttons a {
    margin: 8px;
    font-size: 1.1em;
}

.project-modal-button-icon {
    margin-left: 8px;
    margin-bottom: 1px;
    font-size: 1.2em;
}

.project-title {
    margin: unset;
}